* {
 margin: 0;
 padding: 0;  
 box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form input {
  margin: 10px 0;
}

.messager-container {
  display: flex;
}